/HowTo.md
server/broker.db
server/node_modules/
server/.vscode/*
!server/.vscode/launch.json
server/config/default.json
server/config/dev.json
server/config/devices.json
server/config/kvsdisplays.json


client/node_modules/
client/.vscode/*
!client/.vscode/launch.json
client/dist/
